<%- include( '../_header.ejs' ); %>
<div class="container">
    <p class="text-center mt-3">みなさんの準備が<br />できるまでお待ち下さい</p>
    <ul class="list-group"></ul>
</div>
<script src="../../../js/goodNew/waitClient.js" type="module"></script>
<%- include( '../_footer.ejs' ); %>
