<%- include( '../_header.ejs' ); %>
<div class="container mt-3">
    <h3 class="text-center" id="correct-answerer"></h3>
    <h4 class="text-center">正解です。</h4>
    <img src="" alt="" class="d-block mx-auto" />
    <div class="row fixed-bottom">
        <a
            href="namegame.html"
            class="btn btn-lg text-white mt-5 mb-5 mx-auto"
            style="background-color: #04ccff"
        >
            <strong>次へ</strong>
        </a>
    </div>
</div>
<script src="../../../js/nameGame/correctAnswerer.js" type="module"></script>
<%- include( '../_footer.ejs' ); %>
