<%- include( '../_header.ejs' ); %>
    <div class="container mt-3">
        <h6 class="text-center"><strong>名前覚えましたか？</strong><br>
            <strong>後で回答するのに使います。</strong></h3>
            <p class="text-center"><strong>※取得したカード数が多い方が勝ちです。</strong></p>
            <div class="row mb-5">
                <div class="col-sm-2 col-xs-1"></div>
                <div class="col-sm-8 col-xs-10" id="chara-card">
                    <div class="mx-auto mt-5" style="width: 4em;">
                        <i class="fas fa-asterisk fa-spin fa-4x" style="color: #04CCFF;"></i>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-1"></div>
            </div>
            <div class="row fixed-bottom">
                <button type="button" class="btn btn-lg text-white mt-5 mb-5 mx-auto" style="background-color: #04CCFF;"
                    id="confirm-btn">
                    <strong>大丈夫！</strong>
                </button>
            </div>
    </div>
    <script src="../../../js/nameGame/game/namaeoboeta.js" type="module"></script>
    <%- include( '../_footer.ejs' ); %>