<%- include( '../_header.ejs' ); %>
<div class="container mt-3">
    <h3 class="mt-5 text-center">今日も一日<br />よろしくお願いします!</h3>
    <img src="../../../images/wait.svg" alt="待機" class="mx-auto d-block" />
    <strong><p class="text-center">人目の番です</p></strong>
</div>
<%- include( '../_footer.ejs' ); %>
