<%- include( '../_header.ejs' ); %>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="d-block mx-auto" href="../../index.html">
        <img src="../../images/CTIAssist.svg" alt="logo" />
    </a>
</nav>
<div class="container mt-3">
    <h3 class="mt-5 text-center">今日も一日<br />よろしくお願いします!</h3>
    <img src="../../images/wait.svg" alt="待機" class="mx-auto d-block" />
    <strong><p class="text-center">人目の番です</p></strong>
</div>
<%- include( '../_footer.ejs' ); %>
