<%- include( '../_header.ejs' ); %>
    <div class="container mt-3">
        <h3 class="mt-5 text-center" style="color:#00CBFF">ランキング</h3>
        <ol id="ranking-list">

        </ol>
    </div>
    <script type="module" src="../../../js/typing/game/ranking.js"></script>
<%- include( '../_footer.ejs' ); %>