<%- include( '../_header.ejs' ); %>
    <div class="wrap">
        <input type="button" id="start_button" value="start" style="text-align: center">
        <div id="count"></div>
        <h1>
            <div id="japanese"></div>
        </h1>
        <h2>
            <div id="word"></div>
        </h2>
        <div id="scoredis"></div>
    </div>
    <script src="../../../js/typing/typing.js" type="module"></script>
<%- include( '../_footer.ejs' ); %>