<%- include( '../_header.ejs' ); %>
    <div class="wrap container">
        <div class="row mt-5">
            <div class="col-5"></div>
            <div class="col-2">
                <div id="count" class="d-block mx-auto"></div>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="row mt-3">
            <h1>
                <div id="japanese"></div>
            </h1>
            <h2>
                <div id="word"></div>
            </h2>
            <div id="scoredis"></div>
        </div>
    </div>
    <script src="../../../js/typing/typing.js" type="module"></script>
    <%- include( '../_footer.ejs' ); %>