<%- include( '../common/_header.ejs' ); %>
    <div class="container mt-3">
        <a href="/room/setting?game=<%= gameName %>" style="color: #003554">
            < 戻る</a>
                <h3 class="text-center">Good&New</h3>
                <div style="margin: 0 auto; width: 240px;" class="border rounded border-primary p-3 mt-3 mb-3"
                    id="qr"></div>
                <p class="text-center">
                    グループに<br />共有をお願いします<br />またはこのQRを<br />会場に掲示してください。
                </p>

                <div class="row fixed-bottom bg-white">
                    <a href="/room/game_rule_description?game=<%= gameName %>" class="btn btn-lg text-white mt-2 mb-2 mx-auto"
                        style="background-color: #04ccff">
                        <strong>次へ</strong>
                    </a>
                </div>
    </div>
    <script src="../../../js/goodNew/generateQR.js" type="module"></script>
<%- include( '../common/_footer.ejs' ); %>