<%- include( '../_header.ejs' ); %>
<div class="container mt-3">
    <h3 class="mt-5 text-center">今日も一日<br>よろしくお願いします!</h3>
    <img src="../../../images/wait.svg" alt="待機" class="mx-auto d-block" width="70%">
    <strong>
        <p class="text-center mt-3">発表者のGood（いいこと）<br>発言後に拍手を贈りましょう！</p>
    </strong>
</div>
<script src="../../../js/DiceGame/taskComplete.js" type="module"></script>
<%- include( '../_footer.ejs' ); %>