<%- include( '../_header.ejs' ); %>
<div class="container mt-3">
    <h3 class="text-center">QRを共有しよう</h3>
    <h4 class="text-center">子画面に遷移します。</h4>
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="mx-auto" id="qr"></div>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row fixed-bottom">
        <button
            class="btn btn-lg text-white mt-5 mb-5 mx-auto"
            style="background-color: #04ccff"
            id="oya_gamestart"
        >
            <strong>スタート</strong>
        </button>
    </div>
</div>
<script src="../../../js/nameGame/displayQR.js" type="module"></script>
<%- include( '../_footer.ejs' ); %>
