<%- include( '../_header.ejs' ); %>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-2"></div>
        <div class=" col-sm-8">
            <p class="text-center mb-5">人数を教えて下さい。</p>
            <a href="../few/index_oya.html">
                <p class="text-white rounded-circle d-flex align-items-center text-center justify-content-center mx-auto d-block"
                    style="width: 10rem;height: 10rem;background-color: #0582CA;">13人未満</p>
            </a>
            <a href="../group/group.html">
                <p class="text-white rounded-circle d-flex align-items-center text-center justify-content-center mx-auto d-block mt-5"
                    style="width: 10rem;height: 10rem;background-color: #003554;">13人以上</p>
            </a>
        </div>
        <div class=" col-sm-2"></div>
    </div>
</div>
<%- include( '../_footer.ejs' ); %>