<%- include( '../_header.ejs' ); %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h3 class="text-center">今日も一日<br />よろしくお願いします!</h3>
                <img src="../../../images/wait.svg" alt="待機" class="mx-auto d-block" width="70%" />
            </div>
            <div class="col-md-6 mt-5">
                <strong>
                    <p class="text-center">
                        発表者のGood（いいこと）<br />発言後に拍手を贈りましょう！
                    </p>
                </strong>
            </div>
        </div>
    </div>
    <script src="../../../js/goodNew/taskComplete.js" type="module"></script>
    <%- include( '../_footer.ejs' ); %>