<%- include( '../_header.ejs' ); %>
<div class="container mt-3">
    <h4 id="room-name" class="text-center"></h4>
    <h4 id="count-in-room" class="text-center"></h4>
    <h4 class="text-center">
        ゲームを開始します。<br />しばらくお待ち下さい。
    </h4>
</div>
<script src="../../../js/typing/groupComplete.js" type="module"></script>
<%- include( '../_footer.ejs' ); %>
