<%- include( '../_header.ejs' ); %>
    <div class="container mt-3">
        <h3 class="mt-5 text-center" id="winner-name">さんの勝利!!</h3>
        <img src="../../../images/wait.svg" alt="待機" class="mx-auto d-block" />
    </div>
    <script type="module" src="../../../js/nameGame/winner.js"></script>
    <%- include( '../_footer.ejs' ); %>