<script>
document.addEventListener('touchstart', () => {}, {
    passive: true
});
if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('serviceWorker.js').then(async (registration) => {
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }).catch((err) => {
        console.log('ServiceWorker registration failed: ', err);
    });
}
</script>
</body>

</html>