<%- include( '../_header.ejs' ); %>
    <div class="container mt-3">
        <h3 class="mt-5 text-center">お疲れさまでした！</h3>
        <img src="../../../images/gameEnd.svg" alt="待機" class="mx-auto d-block" />
        <strong>
            <p class="text-center">サイコロ自己紹介を終了します...</p>
        </strong>
        <small>
            <p class="text-center">自動でホーム画面に遷移します。</p>
        </small>
    </div>
    <script type="module" src="../../../js/component/game/gameEnd.js"></script>
    <%- include( '../_footer.ejs' ); %>