<%- include( '../_header.ejs' ); %>
    <div class="container text-center">
        <div class="row-center">
            <h4 class="text-center">1番目です</h4><br>
            <div class="text-align-center">
                <canvas id="draw-area" width="340px" height="430px" style="border: 1px solid #000000;"></canvas>
            </div>
        </div>
    </div>
    <script src="../../../js/illustGame/illustReceive.js" type="module"></script>
    <%- include( '../_footer.ejs' ); %>