<%- include( '../_header.ejs' ); %>
    <h4 class="text-center">1番目です</h4><br>
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <img src="../images/undo.svg" width="20" height="20" type="button" onclick="prevCanvas()">
                <img src="../images/redo.svg" width="20" height="20" type="button" onclick="nextCanvas()">
                <img src="../images/eraser.svg" width="20" height="20" type="button" onclick="eraser()">
                <img src="../images/marker.svg" width="20" height="20" type="button" onclick="drawInPen()">
                <img src="../images/trash.svg" width="20" height="20" type="button" onclick="resetCanvas()"><br>
                <canvas id="canvassample" width="340px" height="430px" style="border: 1px solid #000000;"></canvas>
            </div>
            <script src="../../../js/illustGame/shiritori_game.js"></script>
        </div>
    </div>
<%- include( '../_footer.ejs' ); %>