<%- include( '../_header.ejs' ); %>
    <h4 class="text-center">1番目です</h4><br>
    <div class="col-1"></div>
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <object type="image/svg+xml" data="../images/undo.svg" width="20" height="20" type="button"
                    id="prev"></object>
                <object type="image/svg+xml" data="../images/redo.svg" width="20" height="20" type="button"
                    id="next"></object>
                <object type="image/svg+xml" data="../images/eraser.svg" width="20" height="20" type="button"
                    id="erase"></object>
                <object type="image/svg+xml" data="../images/marker.svg" width="20" height="20" type="button"
                    id="draw"></object>
                <object type="image/svg+xml" data="../images/trash.svg" width="20" height="20" type="button"
                    id="reset"></object><br>
                <canvas id="canvassample" width="340px" height="430px" style="border: 1px solid #000000;"></canvas>
            </div>
        </div>
    </div>
    <script src="../../../js/illustGame/shiritori_game.js" type="module"></script>
    <%- include( '../_footer.ejs' ); %>