<%- include( '../_header.ejs' ); %>
    <div class="container">
        <div class="row mt-4">
            <h2>タイピングゲーム</h2>
        </div>
        <h4>ルール</h4>
        <ul>
            <li>タイピングの速さで競うゲームです。</li>
            <li>入力はローマ字入力のみ</li>
            <li>変換もなし</li>
            <li><strong>PC用です。</strong></li>
        </ul>
        <h4>手順</h4>
        <ul>
            <li>1.共有用のQRをスマホで読み取ってもらう</li>
            <li>各自始めてもらってグループで各自の点数を順位にして表示する</li>
            <li>感想などを話し合いこの冷え切った場をアイスブレイク！！</li>
        </ul>
        <div class="row fixed-bottom bg-white">
            <a href="../group/name.html" class="btn btn-lg text-white mt-2 mb-2 mx-auto"
                style="background-color: #04ccff" onclick="">
                <strong>今すぐゲームを開始する</strong>
            </a>
        </div>
    </div>
    <script src="../../../js/component/room/settings/join.js" type="module"></script>
    <%- include( '../_footer.ejs' ); %>