<%- include( '../_header.ejs' ); %>
<div class="container mt-3">
<h1 id="room-name" class="text-center"></h1>
<h1 id="count-in-room" class="text-center"></h1>
<h1 class="text-center">ゲームを開始します。<br>しばらくお待ち下さい。</h1>
</div>
<script src="../../../js/DiceGame/room/settings/complete.js" type="module"></script>
<%- include( '../_footer.ejs' ); %>