<%- include( '../_header.ejs' ); %>
    <div class="container">
        <div class="row mt-4">
            <div class="col-6">
                <h2>サイコロ自己紹介</h2>
            </div>
            <div class="col-6"></div>
        </div>
        <h4>ルール</h4>
        <ul>
            <li>グループはランダムで決まります。</li>
            <li>サイコロ振る</li>
            <li>「好きな食べ物は？」「特技は？」など、それぞれの面に書かれた質問を答える。</li>
            <li> サイコロに書く質問を参加者で考えたり、一つの面を「自由なお題」にしたりとアレンジしたり...</li>
        </ul>
        <h4>手順</h4>
        <ul>
            <li>グループはランダムで決まります。</li>
            <li>サイコロを回す順番を決める（乱数、ルーレット）</li>
            <li>このとき、サイコロの出たお題をもとに話を始める</li>
            <li>お題の話が終わったら、みんな拍手をする。</li>
        </ul>
        <div class="row fixed-bottom bg-white">
            <a href="./name.html" class="btn btn-lg text-white mt-2 mb-2 mx-auto" style="background-color: #04CCFF;"
                onclick="">
                <strong>今すぐゲームを開始する</strong>
            </a>
        </div>
    </div>
    <script src="../../../js/DiceGame/memberJoin.js" type="module"></script>
    <%- include( '../_footer.ejs' ); %>